@import "tailwindcss";

* {
  box-sizing: border-box !important;
}

html,
body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-height: 100dvh !important;
  overflow-y: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.code-block {
  background: #141518;
}

.code-block .hljs {
  background: transparent;
  color: #ccd4e4;
}

/* SQL keywords */
.code-block .hljs-keyword {
  color: #cc4af4;
}

/* Strings */
.code-block .hljs-string {
  color: #95ce6c;
}

/* Numbers */
.code-block .hljs-number {
  color: #da995c;
}

/* Functions / built-ins */
.code-block .hljs-built_in {
  color: #61afef;
}

/* Comments */
.code-block .hljs-comment {
  color: #5c6370;
}

/* Everything else */
.code-block .hljs {
  color: #c8d2e7;
}

/* // netlify button none  */
#nl-badge {
  display: none !important;
}
